body {
  font-family: 'Roboto', sans-serif;
  margin: 0 auto !important;
}
#AddId{
  display: grid;
  grid-template-columns: 1fr minmax(200px, 400px) 1fr;
  grid-template-rows: 1fr minmax(auto, 1fr) 1fr;
  grid-gap: 10px;
  width: 100%;
  height: 100vh;
  background-size: 400% 400%;
  animation: Gradient 15s ease infinite;
  box-sizing: border-box;
}
#RemoveId{
  display: none;
  grid-template-columns: 1fr minmax(200px, 400px) 1fr;
  grid-template-rows: 1fr minmax(auto, 1fr) 1fr;
  grid-gap: 10px;
  width: 100%;
  background-size: 400% 400%;
  animation: Gradient 15s ease infinite;
  box-sizing: border-box;
}

form {
  grid-column: 2;
  grid-row: 2;
  display: grid;
  grid-gap: 10px;
  margin: auto 0;
  padding: 20px;
  background-color: rgba(255, 255, 255, 0.9);
  border-radius: 10px;
  box-shadow: 0 32px 64px rgba(0, 0, 0, 0.2);
}

h2 {
  margin-bottom: 5px;
  text-align: center;
  text-shadow: 0 4px 16px #fff;
  font-size: 30px;
  font-weight: 100;
}

fieldset {
  margin: 0;
  background-color: #fff;
  border: none;
  border-radius: 5px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2);
}

legend {
  padding: 5px;
  background-color: #fff;
  border-radius: 5px;
}

ul {
  margin: 0;
  padding: 0;
}

li {
  display: grid;
  align-items: center;
  margin: 10px;
}

a {
  color: #02c;
}

em {
  grid-column: span 2;
  text-align: center;
  padding: 5px;
}

label {
  text-align: left;
  padding-bottom: 2px;
}

input {
  padding: 5px;
  border: 1px solid #ddd;
  border-radius: 5px;
}

input:hover {
  border: 1px solid #aaf;
}

button {
  padding: 10px;
  border: 1px solid rgba(0, 0, 0, 0);
  border-radius: 5px;
  background: #fff;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2);
}

button:hover {
  background-color: #e6e6e6;
  border: 1px solid #e6e6e6;
}

#success {
  text-align: center;
  font-weight: 700;
  padding-top: 20px;
}

.passwordReset{
  color:blue;
  cursor: pointer;
  font-size: 12px;
}

.usershowdata{
  color: green;
  text-transform: uppercase;
  font-size: 10px;
  /* text-align: center; */
  margin-bottom: -40px;
}
.ShowErrorMsg{
  color: red;
  font-size: 10px;
  margin-bottom: -40px;
  padding-left: 10px;
}
.ShowCorrectMsg{
  color: green;
  font-size: 10px;
  margin-bottom: -40px;
  padding-left: 10px;
}
.loadingDiv{
  text-align: center;
}

.loader,
.loader:before,
.loader:after {
  border-radius: 50%;
  width: 2.5em;
  height: 7px;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
  -webkit-animation: load7 1.8s infinite ease-in-out;
  animation: load7 1s infinite ease-in-out;
}
.loader {
  color: #000;
  font-size: 3px;
  position: relative;
  -webkit-transform: translateZ(0);
  -ms-transform: translateZ(0);
  transform: translateZ(0);
  -webkit-animation-delay: -0.16s;
  animation-delay: -0.16s;
}
.loader:before,
.loader:after {
  content: '';
  position: absolute;
  top: 0;
}
.loader:before {
  left: -3.5em;
  -webkit-animation-delay: -0.32s;
  animation-delay: -0.32s;
}
.loader:after {
  left: 3.5em;
}
@-webkit-keyframes load7 {
  0%,
  80%,
  100% {
    box-shadow: 0 2.5em 0 -1.3em;
  }
  40% {
    box-shadow: 0 2.5em 0 0;
  }
}
@keyframes load7 {
  0%,
  80%,
  100% {
    box-shadow: 0 2.5em 0 -1.3em;
  }
  40% {
    box-shadow: 0 2.5em 0 0;
  }
}
.MainPageDiv{
  background-color: #C0C0C0;
}
.emptyDiv{
  display: none;
}
.showDiv{
  display: block;
  background-color: #404040;
  color: #fff;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2);
  height: 39px;
  padding-top: 6px;
}
p{
  margin-top: 0px;
}


.sidenav {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #404040;
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 60px;
}

.sidenav p {
  padding: 8px 8px 8px 62px;
  text-decoration: none;
  font-size: 20px;
  color: #818181;
  display: block;
  transition: 0.3s;
}

.sidenav p:hover {
  color: #f1f1f1;
  cursor: pointer;
}

.sidenav .closebtn {
  position: absolute;
  top: 10px;
  right: 25px;
  margin-left: 50px;
}
.closebtn{
  font-size: 23px;
  position: absolute;
  top: 0;
  right: 25px;
  margin-left: 50px;
}

@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}
.Openbtn{
  font-size:30px;
  cursor:pointer;
  width: 30%;
  margin-left: 10px;
  padding-top: 10px;
}
.displayName{
  float: right;
  font-size: 13px;
  padding-top: 10px;
  padding-right: 10px;
}
.bodyContentDiv{
  margin-top: 25px;
  color: #000;
  padding-right: 20px;
}
.spanHeadIcons{
  padding-left: 27px;
  font-size: 14px;
  color: #818181;
  transition: 0.3s;
}
.spanHeadIcons:hover{
  color: #ffffff;
  transform:scale(1.2) !important;
}
.bodyDivContent{
  text-align: center;
}
.settingsDataSpan{
  padding-left: 10px;
  text-align: center;
}
.resetPassword{
  float: right;
}
